{% extends 'base.html' %}
{% block content %}
<h1>Tasks of {{user.username}}</h1>
<ul class="form-check">
    {% for task in items %}
        
            {% if not task.done %}
            <li>
                <form action="{% url 'todoapp:remove' task.id %}" method="post">      
                    {% csrf_token %}
                    <input class="form-check-input" type="checkbox" id="task{{ forloop.counter }}"/>
                    <!-- <input type="submit" value="Delete"> -->
                </form>
                <label class="form-check-label" for="task{{ forloop.counter }}">{{ task.text }} Assigned by {{ task.assigner }} Deadline: {{task.deadline}}</label>

            </li>
            {% endif %}
        
    {% endfor %}

</ul>
<a href="{% url 'todoapp:add' %}"><button>Add new task</button></a>
{% endblock %}