{% extends 'base.html' %}
{% block content %}
<h1>Items</h1>
<ul class="form-check">
    {% for item in items %}
        
            {% if not item.done %}
            <li>
                <form action="{% url 'todoapp:remove' item.id %}" method="post">      
                    {% csrf_token %}      
                    <!-- <input class="form-check-input" type="checkbox submit" name="item" id="item{{ forloop.counter }}" value="{{ item.id }}"> -->
                    <input class="form-check-input" type="checkbox" id="item{{ forloop.counter }}"/>
                    <!-- <input type="submit" value="Delete"> -->
                </form>
                <label class="form-check-label" for="item{{ forloop.counter }}">{{ item.text }}</label>
            </li>
            {% endif %}
        
    {% endfor %}

</ul>
<a href="{% url 'todoapp:detail' %}"><button>Add item</button></a>
{% endblock %}